{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "standard"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "node",
    "promise",
    "react"
  ],
  "rules": {
    "space-before-function-paren": 0,
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 4
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": "warn",
    "padded-blocks": 0
  }
}
