.results_wrapper {
  display: flex;
  flex-direction: column;
}

.press_me_wrapper {
  display: flex;
  width: 5vmin;
  height: 5vmin;
  margin: 0 auto;
  /* background-color: #282c34; */

}

.table_wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* background-color: #282c34; */
  color: whitesmoke;
}

.results {
  margin: 0 auto;
}

.jwt {
  background-color: #535b63;
  color: whitesmoke;
  width: 81em;
  border: none;
  margin: 2em;
  overflow: scroll;
}
